# 5. Functions and Class
In this class we will cover everything related to creating functions and clases in Python.

##  Functions

### The Importance of Python Functions

- Abstraction and Reusability: Replicate the code you will use over and over again.
- Modularity: Functions allow complex processes to be broken up into smaller steps.
- Namespace Separation: It allows you to use variables  and used within a Python function even if they have the same name as variables defined in other functions or in the main program.

### Basic structure of a function
A function requires **parameters**, **code** to execute and the **return** function. The **def** keyword introduces a new Python function definition.

This is the basic structure:
<br><br>

<font size="4">
def name_function<font color='green'>( parameter1, parameter2 )</font>: <br> <br>
&nbsp;&nbsp;&nbsp;&nbsp;'''Comentarios. README'''<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;Code<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;<font color='green'>return</font> final_output<br>
</font>

In [2]:
import numpy as np

In [3]:
def multiplication(x, y, z):
    '''Esta funcion sirve para multiplicar tres variables'''
    result = x*y*z
    return result

In [5]:
multiplication(8, 6, 2)

96

In [6]:
def info_students(x, y, z):
    '''Esta función brinda información sobre alumnos'''
  
    if z == 1:
        name = f"Her name is {x}"
        lastname = "Her lastname is {}".format(y)
        
    else:
        name = "His name is {}".format(x)
        lastname = f"His lastname is {y}"
    
    return print(name, ",",  lastname)

In [7]:
info_students("Guillermo", "Coronado", False)

His name is Guillermo , His lastname is Coronado

In [9]:
np.nan

nan

In [17]:
def calculator(x, y):
    
    if x < y:
        print("division out range")
        result = np.nan # Not A Number
    else: 
        result  = x/y
    
    return result

In [13]:
calculator(1, 3)

division out range

nan

In [14]:
def calculator( x, y, z ):
    
    result = x * y * z
    
    return result

In [15]:
calculator( 158, 38, 10 )

60040

In [16]:
calculator( 4, 7, 0)

0

### Function without `return` function 
When we define a function without the `return` function, the generated function does not return any output.

In [18]:
x2 = 5
y2 = 10

In [24]:
def calculator_square( x, y ):
    
    x2 = x * x
    y2 = y * y
    
    result = x2 * y2   
    return result

In [22]:
calculator_square( x2, y2 )

In [26]:
def info_students(x, y, z):
    
    if z == 1:
        name = "Her name is {}".format(x)
        lastname = "Her lastname is {}".format(y)
        
    else:
        name = "His name is {}".format(x)
        lastname = "His lastname is {}".format(y)
    
    # return print(name,",",  lastname)
    # return lastname

In [27]:
info_students("Alba", "Coronado", True)

In [28]:
def info_students(x, y, z, s, e):
    
    if z == 1:
        name = f"Her name is {x}"
        lastname = "Her lastname is {}".format(y)
        school = "Her school is {}".format(s)
        
        if e >= 18: 
            age = "She is an adult"
    
        else:
            age = "She is a kid"
        
    else:
        name = "His name is {}".format(x)
        lastname = "His lastname is {}".format(y)
        school = "His school is {}".format(s)
        
        if e >= 18: 
            age = "He is an adult"
    
        else:
            age = "He is a kid"

    #return print(name,",",  lastname)
    return name, lastname, school, age

In [29]:
info_students("Gabriela", "Narvaez", True , "CIFO", 17)

('Her name is Gabriela',
 'Her lastname is Narvaez',
 'Her school is CIFO',
 'She is a kid')

### Multiple objects for return
The output of a function can have several objects. These objects are stored in a tuple by default.

In [30]:
def calculator_square( x, y ):
    
    x2 = x * x
    y2 = y * y
    
    result = x2 + y2   
    
    return result, x2, y2

In [31]:
calculator_square(3, 4)

(25, 9, 16)

We can name the outputs in one line.

In [32]:
resultado, X, Y = calculator_square( 8, 9 )

In [35]:
resultado

145

### If condition with return

In [37]:
def calculator_square( x, y ):
    
    x2 = x * x
    y2 = y * y
    
    result = x2 * y2   
    
    if ( 200 >= result ):
        return result, x2, y2
    
    elif ( 500 >= result > 200 ):
        print( "Large number. Get only the result variable")
        return result
    
    else:
        print( "Too large number. Do not return variables!")

In [40]:
calculator_square( 2, 10 )

Large number. Get only the result variable

400

### 5.1.6. Default values to parameters
We can define default values to parameters.

In [41]:
def calculator_base_20(x,y=20):
    result = x*y
    return result

In [44]:
calculator_base_20(x=2,y=5)

10

In [45]:
def info_students(x, y, s, e, sex=True):
    
    if sex == 1:
        name = "Her name is {}".format(x)
        lastname = "Her lastname is {}".format(y)
        school = "Her school is {}".format(s)
        
        if e >= 18: 
            age = "She is an adult"
    
        else:
            age = "She is a kid"
        
    else:
        name = "His name is {}".format(x)
        lastname = "His lastname is {}".format(y)
        school = "His school is {}".format(s)
        
        if e >= 18: 
            age = "He is an adult"
    
        else:
            age = "He is a kid"

    #return print(name,",",  lastname)
    return name, lastname, school, age

In [47]:
info_students("Cristhian", "Alfaro","CIFO", 17, False)

('His name is Cristhian',
 'His lastname is Alfaro',
 'His school is CIFO',
 'He is a kid')

### Specify the type of a parameter and the type of the return type of a function 

It is important to note that Python won't raise a TypeError if you pass a float into x, the reason for this is one of the main points in Python's design philosophy: "We're all consenting adults here", which means you are expected to be aware of what you can pass to a function and what you can't. If you really want to write code that throws TypeErrors you can use the isinstance function to check that the passed argument is of the proper type or a subclass of it like this:

In [48]:
def calculator_base_30( x:int, y:float ) -> float:
    result = x**y
    return result

In [50]:
type(calculator_base_30( x=5, y=4 ))

int

In [51]:
def calculator_base_5( x : int, y : float , z:list, ) -> float:
    
    if not isinstance( x , int ):
        raise TypeError( "X variable is not int type.")
        
    if not isinstance( y, float ):
        raise TypeError( "Y variable is not float type.")
    
    if not isinstance( z, list ):
        raise TypeError( "Z variable is not list type.")

    result = x * y
    
    
    return result

In [52]:
calculator_base_5( 3, 5.8, [1,2])

17.4

### Local variables VS Global variables 

|Variables|Definition|
|---|---|
|Global Variables| Variables declared outside a function.|
|Local Variables | Variables declared inside a function.|

The parameters and the variables created inside a function are local variables. They take values when the function is executed; however, they do not exist outside the function since they belong to a different namespace. A namespace is a system that has a unique name for every object in Python. When a Python function is called, a new namespace is created for that function, one that is distinct from all other namespaces that already exist. That is the reason we can use various functions with parameters and variables with the same name. Additionally, it explains why the variables generated inside a function do not exist outside the defined function namespace.

#### Example

In [54]:
def lower_case( string1  ):
    
    str_result = string1.lower()
    
    return str_result

In [55]:
lower_case( "ADRIANA")

'adriana'

Now, we try to call the variable `str_result`.

In [56]:
str_result

NameError: name 'str_result' is not defined

We can see that `str_result` is not defined. It does not exist in the main space. It was defined in the namespace of **lower_case**. In concluion, `str_result` is a local variable. <br>
`result2` is a global variable.

### args vs kwargs

In [57]:
def ejemplo_args_kwargs(*args, **kwargs):
    print("Args (tupla):")
    for i, arg in enumerate(args, start=1):
        print(f"  Argumento {i}: {arg}")
    
    print("\nKwargs (diccionario):")
    for key, value in kwargs.items():
        print(f"  {key}: {value}")

# Llamada a la función con args y kwargs
ejemplo_args_kwargs(1, 2, 3, "texto", nombre="Juan", edad=30, ciudad="Lima")

Args (tupla):
  Argumento 1: 1
  Argumento 2: 2
  Argumento 3: 3
  Argumento 4: texto

Kwargs (diccionario):
  nombre: Juan
  edad: 30
  ciudad: Lima

1. **`*args`:**
   - Recoge todos los argumentos posicionales que se pasan a la función como una tupla.
   - En el ejemplo, los valores `1, 2, 3, "texto"` se recogen en la tupla `args`.

2. **`**kwargs`:**
   - Recoge todos los argumentos con nombre (clave-valor) como un diccionario.
   - En el ejemplo, los pares `nombre="Juan", edad=30, ciudad="Lima"` se recogen en el diccionario `kwargs`.

## Funciones Lambda en Python

- Las funciones lambda, también conocidas como **funciones anónimas**, son funciones sin nombre que <u>se definen en una sola línea</u> utilizando la palabra clave <font color='blue'>``lambda``</font>.

- Son útiles cuando necesitamos crear funciones pequeñas y concisas sin la necesidad de definirlas formalmente.

La sintaxis de una función lambda es la siguiente:

~~~python
lambda argumentos: expresión
~~~

* <font color='blue'>``argumentos``</font>: Los argumentos de la función lambda, separados por comas si hay más de uno.
* <font color='blue'>``expresión``</font>: Una única expresión que se evalúa y se devuelve como resultado de la función.

### Ejemplo:

~~~python
cuadrado = lambda x: x ** 2
resultado = cuadrado(5)
print(resultado)  # Salida: 25
~~~

##Aplicaciones comunes
- Las funciones lambda se utilizan comúnmente en combinación con funciones de orden superior, como <font color='blue'>``map()``</font>, <font color='blue'>``filter()``</font> y <font color='blue'>``reduce()``</font>, para realizar operaciones de manera concisa y funcional.

### Ejemplo con map():

~~~python
numeros = [1, 2, 3, 4, 5]
cuadrados = list(map(lambda x: x ** 2, numeros))
print(cuadrados)  # Salida: [1, 4, 9, 16, 25]
~~~

### Ejemplo con filter():

~~~python
numeros = [1, 2, 3, 4, 5]
pares = list(filter(lambda x: x % 2 == 0, numeros))
print(pares)  # Salida: [2, 4]
~~~

In [63]:
# Lista de temperaturas en grados Celsius
temperaturas_celsius = [0, 20, 30, 40]

# Convertir a Fahrenheit usando una función lambda con map
temperaturas_fahrenheit = list(map(lambda c: c * 9/5 + 32, temperaturas_celsius))

print("Temperaturas en Celsius:", temperaturas_celsius)
print("Temperaturas en Fahrenheit:", temperaturas_fahrenheit)

Temperaturas en Celsius: [0, 20, 30, 40]
Temperaturas en Fahrenheit: [32.0, 68.0, 86.0, 104.0]

In [65]:
# Lista de tuplas: (nombre, edad)
personas = [("Juan", 25), ("Ana", 22), ("Luis", 30), ("María", 28)]

# Ordenar la lista por edad usando una función lambda
personas_ordenadas = sorted(personas, key=lambda persona: persona[0])

personas_ordenadas

[('Ana', 22), ('Juan', 25), ('Luis', 30), ('María', 28)]

In [66]:
print("Personas ordenadas por edad:")

for nombre, edad in personas_ordenadas:
    print(f"{nombre}: {edad} años")

Personas ordenadas por edad:
Ana: 22 años
Juan: 25 años
Luis: 30 años
María: 28 años

## Class

A class is a user-defined blueprint or prototype from which objects are created. Classes provide a means of bundling data and functionality together. Creating a new class creates a new type of object, allowing new instances of that type to be made.

### The Importance of Python Classes

Classes are a way to organize your code into generic, reusable peices. At their best they are generic blueprints for things that will be used over and over again with little modification. The original concept was inspired by independent biological systems or organism unique from other organisms by the set or collection of features (attributes) and abilities (methods).

Functions are great to use when data is central to the work being done. Classes are great when you need to represent a collection of attributes and methods that will be used over and over again in other places.

Generally if you find your self writing functions inside of functions you should consider writing a class instead. If you only have one function in a class then stick with just writing a function.



- Classes provide an easy way of keeping the data members and methods together in one place which helps in keeping the program more organized.
- Using classes also provides another functionality of this object-oriented programming paradigm, that is, inheritance.
- Classes also help in overriding any standard operator.
- Using classes provides the ability to reuse the code which makes the program more efficient.
- Grouping related functions and keeping them in one place (inside a class) provides a clean structure to the code which increases the readability of the program.

###  Defining a class
it is considered to be a good practice to include a brief description about the class to increase the readability and understandability of the code.

<font size="4">
<font color='green'>class</font> class_name:<br> <br>
&nbsp;&nbsp;&nbsp;&nbsp;    """Description""" <br><br>
&nbsp;&nbsp;&nbsp;&nbsp;<font color='red'>def __init__</font><font color  = 'blue'>( <font color='red'>self</font>, parameter1, parameter2 )</font>:<br><br>
</font>

### Attributes
A value associated with an object which is referenced by name using dotted expressions. For example, `np.size`.

In [67]:
import numpy as np 

A = np.arange( 8, 25 , 2)
A

array([ 8, 10, 12, 14, 16, 18, 20, 22, 24])

In [70]:
A.max()

24

In [71]:
A.shape

(9,)

In [72]:
A.dtype

dtype('int64')

### Method
A function which is defined inside a class body. If called as an attribute of an instance of that class, the method will get the instance object as its first argument (which is usually called self). See function and nested scope.

In [73]:
A = np.arange( 8, 25 )
type(A)

numpy.ndarray

In [74]:
A

array([ 8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24])

In [75]:
A.shape

(17,)

In [76]:
A.max()

24

In [77]:
A.min()

8

In [78]:
A.mean()

16.0

In [79]:
B = A

In [80]:
B.shape

(17,)

In [81]:
A_2 = A.reshape( 1, -1 )
A_2

array([[ 8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23,
        24]])

In [82]:
A_2.shape

(1, 17)

|Name| Definition|
|---|---|
|attribute|A variable stored in an instance or class.|
|method|A function stored in an instance or class.|

###  ```__init__()```

In python classes, “__init__” method is reserved. It is automatically called when you create an object using a class and is used to initialize the variables of the class. It is equivalent to a constructor.

- Like any other method, init method starts with the keyword **“def”**
- **“self”** is the first parameter in this method just like any other method although in case of init, **“self”** refers to a newly created object unlike other methods where it refers to the current object or instance associated with that particular method.
- Additional parameters can be added

### ```self```
self represents the instance of the class. By using the **“self”** keyword we build attributes and methods for the class in python. It binds the attributes with the given arguments.

In [83]:
def print_name(name):
    print(name)

In [84]:
print_name(name = "Alexander")

Alexander

In [85]:
class qlab_students:
    '''Clase del QLAB'''
    def __init__(self, name, age):
        self.name_student = name
        self.age_student = age

    def print_name( self ):
        print( f'I am { self.name_student }.' )
        
    def print_age( self ):
        print( f'I am  { self.age_student } years old' )

In [86]:
student1 = qlab_students( name="Maria Alejandra Colan", age="20"  )

In [87]:
type(student1)

__main__.qlab_students

In [88]:
student1.print_age()

I am  20 years old

In [89]:
student1.print_name()

I am Maria Alejandra Colan.

In [90]:
students = qlab_students( name=["Maria Alejandra Colan", "Carla Caceda"], age=["20","21"]  )

In [91]:
students.print_age()

I am  ['20', '21'] years old

In [92]:
class qlab_students_list:
    '''Clase del QLAB'''
    def __init__(self, name, age):
        self.name_student = name
        self.age_student = age

    def print_name( self ):
        for name in self.name_student:
            print( f'I am { name }.' )
        
    def print_age( self ):
        for age in self.age_student:
            print( f'I am  { age } years old' )

In [93]:
students = qlab_students_list( name=["Maria Alejandra Colan", "Carla Caceda"], age=["20","21"]  )

In [95]:
students.print_name()

I am Maria Alejandra Colan.
I am Carla Caceda.